<ul class="home-grid home-footer">
  <li>
    <ul>
      <li>KIRILANATUR</li>
      <li>Cirila Gajšek s.p.</li>
      <li>Prvomajska ul. 94</li>
      <li>5000 Nova Gorica</li>
      <li>Slovenija</li>
    </ul>
  </li>
  <li>
    <ul class="contact-info">
      <li>KONTAKT</li>
      <li>www.kirilanatur.com</li>
      <li>info&#64;kirilanatur.com</li>
      <li>
        <a href="tel:+38631252403">
          T: 031 252 403
        </a>
      </li>
    </ul>
  </li>
  <li>
    <app-social-media-links></app-social-media-links>
  </li>
</ul>
