@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}

button {
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(197, 197, 197, 0.50);

  &:hover {
    background-color: rgba(197, 197, 197, 0.35);
  }

  &:active {
    background-color: rgba(197, 197, 197, 0.2);
  }
}

select {
  padding: 8px;
  margin: 5px;
  outline: none;
  border-radius: 0;
  appearance: none;
  background-color: white;
  border: 1px solid #7a7a7a;
}

input {
  padding: 10px;
  margin: 5px;
  appearance: none;
  border: 1px solid #7a7a7a;
}

.data-container {
  margin: 40px;
  display: flex;
  justify-content: center;

  table {
    border-collapse: collapse;
    thead {
      tr {
        border-bottom: 1px solid #333;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid lightgray;
        border-left: 1px solid #efefef;
        border-right: 1px solid #efefef;
        td {
          padding: 0 10px;

          a {
            color: #333;
            &:hover {
              cursor: pointer;
            }
          }

          form {
            .button-and-feedback-container {
              display: flex;
              justify-content: center;
              button {
                margin: 10px;
              }
              .info-container {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }

      tr:nth-child(even) {
        background-color: #f6f6f6;
      }
    }
  }
}

.search-input {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;

  p {
    margin-top: 30px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}


.success-msg {
  color: green;
}

.error-msg {
  color: red;
}
