.product-sections {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--pure-white);
}

.preview-image-selection {
  width: 20%;
  padding: 1rem 1rem 1rem 4rem;

  ul li img {
    transition: box-shadow 0.1s;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li img:hover {
      cursor: pointer;
      box-shadow: 0 0 1rem var(--box-shadow);
    }
  }
}

.main-product-image-container {
  width: 48%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.product-info {
  width: 32%;
  margin-top: 7rem;
  padding: 1rem 4rem 1rem 1rem;

  h2 {
    line-height: 1.2em;
  }

  .size-selection {
    margin-top: 1.5rem;

    ul {
      color: var(--beige-dark);
      display: flex;
      flex-direction: row;

      li {
        line-height: 1em;

        &:hover {
          cursor: pointer;
          font-weight: var(--font-weight-bold);
        }
      }

      li:not(:last-child) {
        padding-right: 0.4rem;
        border-right: 1px solid var(--beige-dark);
      }

      li:not(:first-child) {
        padding-left: 0.4rem;
        border-left: 1px solid var(--beige-dark);
      }
    }
  }

  .color-selection {
    margin: 1.5rem 0;

    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    img {
      width: 3.5rem;
    }
  }

  .delivery-info {
    margin-top: 1rem;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .product-details {
    margin-top: 1rem;
  }
}
