nav {
  background-color: #AB7740;
  width: 100%;
  z-index: 1000;

  .navbar-group-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-group {
      display: flex;
      align-items: center;

      ul {
        li {
          display: inline;
        }
      }
    }

    .navbar-logo {
      margin: 15px auto 15px 15px;
    }

    .navbar-links {
      flex-grow: 1;
      justify-content: center;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
          .link-active {
            background-color: #c5884b;
          }

          a {
            color: white;
            text-decoration: none;
            padding: 15px;
            margin: 0 15px;
          }
        }
      }
    }

    .navbar-lang {
      margin-left: auto;
      margin-right: 30px;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {

        }
      }
    }
  }
}
