<nav>
  <ul class="navbar-group-list">
    <li class="navbar-group navbar-logo">
      <img src="assets/images/kirilanatur_logo.png" alt="Kirilanatur logo" class="logo">
    </li>
    <li class="navbar-group navbar-links">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="link-active">
            {{ 'navbar.home' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/sandals" routerLinkActive="link-active">
            {{ 'navbar.sandals' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/dataFlow" routerLinkActive="link-active">
            {{ 'navbar.testing' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/admin" routerLinkActive="link-active">
            {{ 'navbar.admin' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="link-active">
            {{ 'navbar.register' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="link-active">
            {{ 'navbar.login' | translate }}
          </a>
        </li>
      </ul>
    </li>
    <li class="navbar-group">
      <ul>
        <li>
          {{ 'navbar.shopping_cart' | translate }}
        </li>
      </ul>
    </li>
    <li class="navbar-group navbar-lang">
      <ul>
        <li>
          <a (click)="switchLanguage('en')">
            <img src="assets/svgs/uk_flag.svg" alt="English">
          </a>
        </li>
        <li>
          <a (click)="switchLanguage('sl')">
            <img src="assets/svgs/sl_flag.svg" alt="Slovenian">
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
