@if (shoppingBag.itemCount() > 0) {
  <ul class="flex flex-col gap-4 m-2">
    @for (item of shoppingBag.items(); track `${item.productId}_${item.size}`) {
      <li class="flex justify-between w-full p-2 bg-(--beige-primary-light)">
        <img
          [src]="productData.imageUrl(item.productId)"
          [alt]="productData.imageAlt(item.productId)"
          class="max-w-22">
        <div class="flex flex-col justify-between p-2 w-full">
          <div class="flex justify-between">
            <div class="div">
              <h4 class="text-sm">{{productData.productName(item.productId)}}</h4>
              <h5 class="text-xs">Velikost {{item.size}}</h5>
            </div>
            <h4 class="text-sm text-right">78,00 EUR</h4>
          </div>
          <div class="flex justify-between">
            <h5 class="text-xs">{{item.quantity}}x</h5>
            <button
              (click)="shoppingBag.removeItem(item.productId, item.size)"
              class="text-xs cursor-pointer hover:underline">
              Odstrani</button>
          </div>
        </div>
      </li>
    }
  </ul>
  <p class="m-4 text-right">Skupaj: {{shoppingBag.totalPrice()}},00 EUR</p>
  <div class="w-full flex justify-center">
    <button
      (click)="toCheckout()"
      class="relative bg-(--text-color-primary) p-3 mt-4 mb-8 text-(--white-primary) hover:opacity-75 text-center cursor-pointer"
      style="min-width: 180px">
      NA BLAGAJNO
    </button>
  </div>
}

@else {
  <p class="m-4">Nakupovalna vrečka je prazna.</p>
}

