@import "./root.css";
@import "./reset.css";
@import "./lato.css";
@import "./svg.css";
@import "./utils.css";
@import "./hamburger-menu.css";
@import "./navbar.css";

html {
  font-family: var(--font-family-primary), 'sans-serif';
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-normal);
}

body {
  background-color: #f6f6f6;
}

a:hover {
  cursor: pointer;
}

.banner {
  width: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 3rem;

  li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.home-footer {
  .social-media-links {
    display: flex;
    flex-direction: row;
  }

  svg {
    path {
      stroke: var(--white-primary);
    }

    circle {
      stroke: var(--white-primary);
    }

    rect {
      stroke: var(--white-primary);
    }

    .svg-fill {
      fill: var(--white-primary);
    }
  }
}

@media (max-width: 1240px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}
