@import "./root.css";
@import "./reset.css";
@import "./lato.css";
@import "./svg.css";
@import "./utils.css";
@import "./hamburger-menu.css";
@import "./navbar.css";

html {
  font-family: var(--font-family-primary), 'sans-serif';
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-normal);
}

body {
  background-color: #f6f6f6;
}

a {
  &:hover {
    cursor: pointer;
  }
}

li {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);

  &:hover {
    text-decoration: underline;
  }
}
