:root {
  --white-primary: #fdfdfd;
  --pure-white: #FFFFFF;
  --beige-primary: #D0CCB2FF;
  --beige-dark: #7A724AFF;
  --box-shadow: #b6b6b6;
  --font-family-primary: 'Lato';
  --font-weight-normal: 400;
  --font-weight-bold: 900;
  --font-size-normal: 20px;
  --font-size-h2: 40px;
  --font-size-h3: 24px;
  --text-color-primary: #2C2E35FF;
  --letter-spacing-normal: 1px;
  --screen-width-mobile: 576px;
}
