:root {
  --white-primary: #FDFDFDFF;
  --beige-primary: #D0CCB2FF;
  --font-family-primary: 'Lato';
  --font-weight-normal: 400;
  --font-weight-bold: 900;
  --font-size-normal: 20px;
  --text-color-primary: #2C2E35FF;
  --letter-spacing-normal: 1px;
  --screen-width-mobile: 576px;
}
