svg {
  height: 40px;

  &:hover {
    cursor: pointer;
  }

  path {
    stroke: var(--text-color-primary);
  }

  circle {
    stroke: var(--text-color-primary);
  }

  rect {
    stroke: var(--text-color-primary);
  }

  .svg-fill {
    fill: var(--text-color-primary);
  }
}
