.login-component {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-left: -1500px;
    height: 100vh;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        width: 100%;
        text-align: left;
      }

      input {
        margin: 0;
        width: 300px;
      }
    }
  }
}
