<div class="add-user-container">
  <form [formGroup]="userForm" (ngSubmit)="addUserHandler()">
    <label>
      Name:
      <input type="text" placeholder="Bob" formControlName="name" />
    </label>
    <label>
      Description:
      <input type="text" placeholder="Jackson" formControlName="description" />
    </label>
    <div class="button-container">
      <button type="submit">Add</button>
    </div>
  </form>
</div>
<button (click)="getUsersHandler()">
  Get Products
</button>
@if(this.products.length > 0) {
  <table>
  @for(product of products; track product.id) {
    <tr>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.description}}
      </td>
    </tr>
  }
  </table>
}
